<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>롯데ON::대한민국 1등 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/main/favicon.ico" />
    <link rel="stylesheet" href="/static/css//header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/my/myinfo.css">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header__top">
                <div class="center header__top__nav">

                    <a href="#" th:href="@{/member/login}">로그인</a>
                    <a href="#" th:href="@{/member/join}">회원가입</a>
                    <a href="#" th:href="@{/my/home(userId=${#authentication.principal.user.userId})}">마이페이지</a>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
                    </a>
                    <a href="#" th:href="@{/member/logout}">로그아웃</a>
                </div>
            </div>
            <div class="header__bot">
                <div class="header__bot__wrapper center">
                    <a class="logo" href="#" th:href="@{/}"><img class="logo__img" src="/static/images/header_logo.png"
                            th:src="@{/images/header_logo.png}" alt="로고" /></a>
                    <form class="search" action="/lotteon/product/search" method="get">
                        <input class="search__input" type="text" name="keyword" />
                        <!-- <input  type="hidden" name="cateCode" id="cateCodeInput" value=""> -->
                        <button class="search__btn"><img width="18" class="search__btn__img"
                                src="/static/images/search.svg" /></button>
                    </form>
                </div>
            </div>
        </header>
        <div>
            <nav class="myinfotopside">
                <div>
                    <a href="#" class="shopping-info">나의쇼핑정보</a>
        
                    <ol>
                        <li>
                            <a href="/my/order">주문<br><span>2</span></a>
                        </li>
                        <li>
                            <a href="/my/coupon">쿠폰<br><span>1</span></a>
                        </li>
                        <li>
                            <a href="/my/point">포인트<br><span>1,000</span></a>
                        </li>
                        <li>
                            <a href="/my/qna">문의<br><span>1</span></a>
                        </li>
                    </ol>
                </div>
            </nav>
            <!-- only for info header -->
            <div class="info">
                <ul>
                    <li><a href="#">전체주문내역</a></li>
                    <li><a href="#">포인트내역</a></li>
                    <li><a href="#">쿠폰</a></li>
                    <li><a href="#">나의리뷰</a></li>
                    <li><a href="#">문의하기</a></li>
                    <li><a href="#">나의설정</a></li>
                </ul>

                <section>
                    <a href="#"><img src="/static/images/my/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>


                    <!-- 사이드 영역 -->
                    <article class="latest">
                        <h3>최근주문내역</h3>
                        <a href="#" class="more">더보기</a>
                        <table border="0" class="widthtable">
                            <tr>
                                <th>날짜</th>
                                <th></th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <block>
                                <tr>
                                    <td class="date">2022-12-13</td>
                                    <td><a href="#" class="recentproductorderimg"><img src="/static/images/admin/sample_thumb.jpg"alt="상품이미지"></a></td>
                                    <td class="order-info">
                                        <div class="order-number">
                                            주문번호: <span text="${order.orderNumber}">1012211341</span>
                                        </div>
                                        <div class="company-name" text="${order.companyName}">(주) 상호명</div>
                                        <div class="product-name" text="${order.productName}">상품명</div>
                                        <div>수량 : <span text="${order.quantity}"></span>1 개</div>
                                        <div class="product-price" style="font-size: 18px; font-weight: bold;" text="${order.price}">34,000원</div>
                                    </td>

                                    <td class="status">배송중</td>
                                    <td class="modalbuttondiv">
                                        <!-- 수취확인 -->
                                        <button class="receivebutton">수취확인</button><br>
                                        <button class="receivebutton">상품평쓰기</button><br>
                                    
                                        <button class="reviewbutton">반품신청</button><br>
                                        <button class="reviewbutton">교환신청</button>
                                    </td>
                                </tr>
                            </block>
                        </table>
                    </article>

                    <article class="point">
                        <h3>포인트적립내역</h3>
                        <a href="#" class="more">더보기</a>
                        <table border="0" class="widthtable">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>
                                <th>비고</th>
                                <th>유효기간</th>
                            </tr>
                            <tr>
                                <td>2022-12-10</td>
                                <td>적립</td>
                                <td>2022121001</td>
                                <td>340</td>
                                <td>상품 구매확정</td>
                                <td>2024-12-10</td>
                            </tr>
                            <tr>
                                <td>2022-12-10</td>
                                <td>적립</td>
                                <td>2022121001</td>
                                <td>340</td>
                                <td>상품 구매확정</td>
                                <td>2024-12-10</td>
                            </tr>
                        </table>
                    </article>
                    <article class="review">
                        <h3>상품평</h3>
                        <a href="#" class="more">더보기</a>
                        <table border="0" class="widthtable">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <block each="review , loop:${reviewLimit5}">
                                <tr>
                                    <td text="${loop.index+1}">1</td>
                                    <td text="${review.prodName}">상품명</td>
                                    <td text="${review.content}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                    <td class="score">
                                        <span class="rating" if="${review.rating == 1}" classappend="star1">평점</span>
                                        <!-- <span class="rating" if="${review.rating == 2}" classappend="star2">평점</span>
                                    <span class="rating" if="${review.rating == 3}" classappend="star3">평점</span>
                                    <span class="rating" if="${review.rating == 4}" classappend="star4">평점</span>
                                    <span class="rating" if="${review.rating == 5}" classappend="star5">평점</span> -->
                                    </td>
                                    <td text="${review.rdate.toLocalDate()}">2022-12-10</td>
                                </tr>
                                <tr>
                                    <td text="${loop.index+1}">2</td>
                                    <td text="${review.prodName}">상품명</td>
                                    <td text="${review.content}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                    <td class="score">
                                        <span class="rating" if="${review.rating == 1}" classappend="star1">평점</span>
                                    </td>
                                    <td text="${review.rdate.toLocalDate()}">2022-12-10</td>
                                </tr>
                                <tr>
                                    <td text="${loop.index+1}">3</td>
                                    <td text="${review.prodName}">상품명</td>
                                    <td text="${review.content}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                    <td class="score">
                                        <span class="rating" if="${review.rating == 1}" classappend="star1">평점</span>
                                    </td>
                                    <td text="${review.rdate.toLocalDate()}">2022-12-10</td>
                                </tr>
                            </block>
                        </table>
                    </article>

                    <article class="qna">
                        <h3>문의내역</h3>
                        <a href="#" class="more">더보기</a>
                        <table border="0" class="widthtable">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <block each="qna,loop:${qnaLimit5}">
                                <tr>
                                    <td text="${loop.index+1}">5</td>
                                    <block if="${qna.cate1 == qna}">
                                        <td class="channel">고객센터</td>
                                    </block>
                                    <block if="${qna.cate1 != qna}">
                                        <td class="channel">판매자게시판</td>
                                    </block>
                                    <!-- <td text="${qna.detail}">주문/결제</td> -->
                                    <td text="${qna.title}">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                                    <td text="${qna.rdate.toLocalDate()}">2024-12-12</td>
                                    <td class="status">
                                        <block if="${qna.comment ==1}">
                                            <span class="answered">답변완료</span>
                                        </block>
                                        <block if="${qna.comment ==0}">
                                            <span class="answered">검토중</span>
                                        </block>
                                    </td>
                                </tr>
                            </block>
                        </table>
                    </article>

                    <h3>나의설정</h3>
                    <article class="myinfo">
                        
                        <div class="myinfosetting">
                            <div class="address">
                                <span>기본 배송지설정</span>
                                <a href="#" class="setting">&nbsp;&nbsp;변경</a>
                                <p>
                                    <span text="${'우편번호 : '+member.zip}">부산광역시</span><br />
                                    <span text="${'상세주소 :'+member.addr1 +' '+member.addr2}">서면</span><br />
                                    <!-- (최종수정일 <span text="${member.rdate.toLocalDate()}">2021-12-10</span>) -->
                                </p>

                            </div>
                            <div class="email">
                                <span>email 설정</span>
                                <a href="#" class="setting">&nbsp;&nbsp;변경</a>
                                <p>
                                    <span text="${member.email}">abc123@gmail.com</span><br />
                                    (최종수정일 <span text="${member.rdate.toLocalDate()}">2021-12-10</span>)
                                </p>
                            </div>
                            <div class="hp">
                                <span>휴대폰 설정</span>
                                <a href="#" class="setting">&nbsp;&nbsp;변경</a>
                                <p>
                                    <span text="${member.hp}">abc123@gmail.com</span><br />
                                    (최종수정일 <span text="${member.rdate.toLocalDate()}">2021-12-10</span>)
                                </p>
                            </div>
                        </div>


                    </article>

                </section>

            </div>
        </div>

    <!-- 푸터영역 -->
    <footer class="footer">
        <ul class="footer__links">
            <li class="footer__link"><a href="#">회사소개</a></li>
            <li class="footer__link"><a href="#">서비스이용약관</a></li>
            <li class="footer__link"><a href="#">개인정보처리방침</a></li>
            <li class="footer__link"><a href="#">전자금융거래약관</a></li>
            <li class="footer__link"><a href="#">1.0.0</a></li>
        </ul>
        <div class="footer__info">
            <p class="footer__logo"><img src="/static/images/footer_logo.png" alt="로고"></p>
            <p class="footer__company-info">
                <strong>(주)LotteON</strong><br>
                부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)<br>
                대표이사 : 홍길동<br>
                사업자등록번호 : 220-81-83676 사업자정보확인<br>
                통신판매업신고 : 강남 10630호 Fax : 02-589-8842
            </p>
            <p class="footer__customer-service">
                <strong>고객센터</strong><br>
                Tel : 1234-5678 (평일 09:00~18:00)<br>
                스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)<br>
                경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층<br>
                Fax : 051-123-4567 | Mail : LotteON@LotteON.co.kr
            </p>
        </div>
    </footer>
    </div>
</body>

</html>