<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/myLayout.html}"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>롯데ON 마이페이지</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/main/favicon.ico" />
    <link rel="stylesheet" href="/static/css/my/style.css">
    <link rel="stylesheet" href="/static/css//header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/my/order.css">
    <link rel="stylesheet" href="/static/css/my/coupon.css">
</head>
<body>
    <div id="wrapper">
        <header class="header">
            <div class="header__top">
                <div class="center header__top__nav">
                    
                        <a href="#" th:href="@{/member/login}">로그인</a>
                        <a href="#" th:href="@{/member/join}">회원가입</a>
                        <a href="#" th:href="@{/my/home(userId=${#authentication.principal.user.userId})}">마이페이지</a>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
                        </a>
                        <a href="#" th:href="@{/member/logout}">로그아웃</a>
                </div>
            </div>
            <div class="header__bot">
                <div class="header__bot__wrapper center">
                    <a class="logo" href="#" th:href="@{/}"><img class="logo__img" src="/static/images/header_logo.png" th:src="@{/images/header_logo.png}" alt="로고"/></a>
                    <form class="search" action="/lotteon/product/search" method="get">
                        <input class="search__input" type="text" name="keyword"/>
                        <!-- <input  type="hidden" name="cateCode" id="cateCodeInput" value=""> -->
                        <button class="search__btn"><img width="18" class="search__btn__img" src="/static/images/search.svg" /></button>
                    </form>
                </div>
            </div>
        </header>
<!--내용 시작-->

        <!--마이페이지 상단 회원 정보-->
        <div id="my">
        <nav>
            <div>
                <a href="#"><img src="/static/images/my/my_logo.jpg" alt="나의쇼핑정보"></a>

                <ol>
                    <li><a href="/my/order">주문·배송</a></li>
                    <li><a href="/my/coupon">할인쿠폰</a></li>
                    <li><a href="/my/point">포인트</a></li>
                    <li><a href="/my/qna">문의내역</a></li>
                </ol>
            </div>
        </nav>
         <!-- 해더영역 -->

        <div class="review">
            <!--마이페이지 사이드바-->
            <ul class="myCate">
                <span class="menu_else"></span>
                    <li><a href="#">전체주문내역</a></li>
                    <li><a href="#">관심상품</a></li>
                    <li><a href="#">포인트내역</a></li>
                    <li><a href="#">쿠폰</a></li>
                    <li><a href="#">나의리뷰</a></li>
                    <li><a href="#">문의하기</a></li>
                    <li><a href="#">나의설정</a></li>
            </ul>

            <section>
                <a href="#"><img src="/static/images/my/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>
                
                <article>
                    
                    <!--나의 리뷰 출력-->

                    <!--나의 리뷰가 있을떄-->
                    <h3>나의리뷰</h3>
                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>상품명</th>
                            <th>내용</th>
                            <th>평점</th>                                
                            <th>작성일</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>상품번호 / 상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td>사용가능</td>
                            <td>~ 12/31</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>상품번호 / 상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td>사용가능</td>
                            <td>~ 12/31</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>상품번호 / 상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td>사용가능</td>
                            <td>~ 12/31</td>
                        </tr>
                        
                    </table>


                    <!-- <div class="myTableStyle" th:if="${myReviewPage.dtoList.size()} > 0">
                        <div class="myTableHead myReviewRow">
                            <div>번호</div>
                            <div>이미지</div>
                            <div>상품명</div>
                            <div>내용</div>
                            <div>평점</div>
                            <div>작성일</div>
                        </div>
                        <div class="myTableBody myReviewRow" th:each="eachReviewPage, index : ${myReviewPage.dtoList}">
                            <div th:with="reversedIndex=${#lists.size(myReviewPage.dtoList) - index.index}" th:text="${reversedIndex}"></div>
                            <div>
                                <img src="/static/images/admin/sample_thumb.jpg" style="width: 90px;">
                            </div>
                            <div>
                                <a th:href="@{'/product/view?prodNo='+${eachReviewPage.prodNo}+'&cateCode='+${eachReviewPage.cateCode}}" th:text="${eachReviewPage.prodName}"></a>
                            </div>
                            <div th:text="${eachReviewPage.revContent}"></div>
                            <div class="score">
                                <span class="rating" th:text="${eachReviewPage.revScore}"></span>
                            </div>
                            <div th:text="${#temporals.format(eachReviewPage.revAddDate, 'yyyy-MM-dd')}"></div>
                        </div> -->

                        <!-- <p class="page">
                            <a th:if="${myReviewPage.prev && myReviewPage.cate == null}" th:href="@{/my/review(pg=${myReviewPage.start -1}, userId=${#authentication.principal.user.userId})}">이전</a>
                            <a th:if="${myReviewPage.prev && myReviewPage.cate != null}" th:href="@{/my/review(pg=${myReviewPage.start -1}, type=${myReviewPage.type}, keyword=${myReviewPage.keyword}, userId=${#authentication.principal.user.userId})}">이전</a>

                            <th:block th:each="num:${#numbers.sequence(myReviewPage.start, myReviewPage.end)}">
                                <a class="pageNum" th:if="${myReviewPage.cate == null}" th:href="@{/my/review(pg=${num}, userId=${#authentication.principal.user.userId})}" th:class="${num == myReviewPage.pg} ? 'on' : ''">[[${num}]]</a>
                                <a class="pageNum" th:if="${myReviewPage.cate != null}" th:href="@{/my/review(pg=${num}, type=${myReviewPage.type}, cate=${myReviewPage.cate}, keyword=${myReviewPage.keyword}, userId=${#authentication.principal.user.userId})}" th:class="${num == myReviewPage.pg} ? 'on' : ''">[[${num}]]</a>
                            </th:block>

                            <a th:if="${myReviewPage.next && myReviewPage.cate == null}" th:href="@{/my/review(pg=${myReviewPage.end + 1}, userId=${#authentication.principal.user.userId})}">다음</a>
                            <a th:if="${myReviewPage.next && myReviewPage.cate != null}" th:href="@{/my/review(pg=${myReviewPage.end + 1}, type=${myReviewPage.type}, keyword=${myReviewPage.keyword}, userId=${#authentication.principal.user.userId})}">다음</a>
                        </p> -->

                        <p class="page">
                            <a href="/my/review?pg=1">이전</a>
                            <a class="pageNum" href="/my/review?pg=1" class="on">1</a>
                            <a class="pageNum" href="/my/review?pg=2">2</a>
                            <a class="pageNum" href="/my/review?pg=2">3</a>
                            <a class="pageNum" href="/my/review?pg=2">4</a>
                            <a class="pageNum" href="/my/review?pg=2">5</a>
                            <a href="/my/review?pg=2">다음</a>
                        </p>
                    </div>
                </article>
            </section>
        </div>
        </div>
    </div>
<!--내용 끝-->
</html>