<div class="notice" th:fragment="list">
  <nav>
    <div>
      <p>홈<span>></span>공지사항</p>
    </div>
  </nav>
  <section class="list">
    <aside class="cs_sidebar">
      <h2>공지사항</h2>
      <ul>
        <li><a href="#">전체</a></li>
        <li><a href="#">고객서비스</a></li>
        <li><a href="#">안전거래</a></li>
        <li><a href="#">위해상품</a></li>
        <li><a href="#">이벤트당첨</a></li>
      </ul>
    </aside>
    <article class="no_article">
      <nav>
        <h1>전체</h1>
        <h2>공지사항 전체 내용입니다.</h2>
      </nav>
      <table>
        <tr>
          <td>
            <a th:href="@{/cs/layout/notice/view}">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/cs/layout/notice/view}">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/cs/layout/notice/view}">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/cs/layout/notice/view}">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/cs/layout/notice/view}">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
      </table>

      <div class="pagingBox">
        <div class="pagingList">
          <!-- 이전 버튼 -->
          <a href="#" class="prev"><</a>

          <!-- 페이지 링크 -->
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>

          <!-- 다음 버튼 -->
          <a href="#" class="next">></a>
        </div>
      </div>
    </article>
  </section>
</div><div class="notice">
  <nav>
    <div>
      <p>홈<span>></span>공지사항</p>
    </div>
  </nav>
  <section class="list">
    <aside class="cs_sidebar">
      <h2>공지사항</h2>
      <ul>
        <li><a href="#">전체</a></li>
        <li><a href="#">고객서비스</a></li>
        <li><a href="#">안전거래</a></li>
        <li><a href="#">위해상품</a></li>
        <li><a href="#">이벤트당첨</a></li>
      </ul>
    </aside>
    <article class="no_article">
      <nav>
        <h1>전체</h1>
        <h2>공지사항 전체 내용입니다.</h2>
      </nav>
      <table>
        <tr>
          <td>
            <a href="#">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a href="#">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a href="#">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a href="#">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
        <tr>
          <td>
            <a href="#">
              <span style="white-space: nowrap;">[안내] 해외결제 사칭 문자주의</span>
            </a>
          </td>
          <td style="text-align: right;">00.00.00</td>
        </tr>
      </table>

      <div class="pagingBox">
        <div class="pagingList">
          <!-- 이전 버튼 -->
          <a href="#" class="prev"><</a>

          <!-- 페이지 링크 -->
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>

          <!-- 다음 버튼 -->
          <a href="#" class="next">></a>
        </div>
      </div>
    </article>
  </section>
</div>