<div class="notice" th:fragment="view">
  <nav>
    <div>
      <p>홈<span>></span>공지사항</p>
    </div>
  </nav>
  <section class="view">
    <aside class="cs_sidebar">
      <h2>공지사항</h2>
      <ul>
        <li><a href="#">전체</a></li>
        <li><a href="#">고객서비스</a></li>
        <li><a href="#">안전거래</a></li>
        <li><a href="#">위해상품</a></li>
        <li><a href="#">이벤트당첨</a></li>
      </ul>
    </aside>
    <article class="no_article_view">
      <nav>
        <h1>전체</h1>
        <h2>공지사항 전체 내용입니다.</h2>
      </nav>
      <nav>
        <h2 class="title">[안내] 해외결제사칭문자주의</h2>
        <span class="date">2022.11.20</span>
      </nav>

      <div class="content">
        <p></p><br>
        <p>
          ※ 피싱 관련 피해신고<br /><br />
          ▶ 경찰청 사이버수사국 (국번없이)182 :
          http://cyberbureau.police.go.kr<br />
          ▶ KISA 인터넷침해대응센터 (국번없이)118 :
          http://www.krcert.or.kr<br />
          감사합니다.<br />
        </p>
      </div>
      <a th:href="@{/cs/layout/notice/list}" class="btnList">목록</a>
    </article>
  </section>
</div>