/* 메인영역 */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* 왼쪽 카테고리 메뉴 */
  main > aside {
    float: left;
    width: 215px;
    height: 100%;
  }
  main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #fff;
    border: 1px solid #ef2a23;;
    border-top: none;
    box-sizing: border-box;
  }
  main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #111;
    font-size: 13px;    
    box-sizing: border-box;
  }
  main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #111;
    line-height: 40px;
  }
  main > aside > .category > li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #111;  
    text-decoration: none;
    font-size: 1em;
  }
  main > aside > .category > li > a:hover {  
    color: #ef2a23;
    font-weight: bold;
  }
  
  /* 마우스를 올리는 카테고리 메뉴의 서브메뉴 출현 */
  main > aside > .category > li > a:hover + ol {
    display: block;
  }
  /* 서브메뉴에 마우스가 올라가면 계속 노출 */
  main > aside > .category ol:hover {
    display: block;
  }
  
  main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
  }
  
  main > aside > .category > li i.fa-angle-right {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }
  main > aside > .category > li > ol > li  i.fa-angle-right {
    float: right;
    width: auto;
    margin-top: 0px;
    margin-right: 20px;
  }
  /*2차 카테고리*/
  main > aside > .category ol {
    position: absolute;
    left: 213px;
    top: 0px;
    display: none;
    width: 150px;
    height: 425px;
    border: 1px solid #ef2a23;
    border-top: none;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
    padding-top: 10px;
  }
  
  main > aside > .category ol > li {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    box-sizing: border-box;
  }
  main > aside > .category ol > li > a {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    margin: 10px 0;
  }
  main > aside > .category ol > li > a:hover {
    color: #ef2a23;
    font-weight: bold;
  }
  /* 3차 카테고리 */
  main > aside > .category ol > li > ol{
    position: absolute;
    left: 148px;
    top: 0px;
    display: none;
    width: 150px;
    height: 425px;
    border: 1px solid #ef2a23;
    border-top: none;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
    padding-top: 10px;
  }
  main > aside > .category ol > li > ol > li {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
  }
  main > aside > .category ol > li > ol > li > a {
    display: block;
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
  }
  main > aside > .category ol > li > ol > li > a:hover {
    color: #ef2a23;
    font-weight: bold;
  }
  /* 마우스를 올리는 카테고리 메뉴의 서브메뉴 출현 */
  main > aside > .category > li > ol > li > a:hover + ol {
    display: block;
  }
  /* 서브메뉴에 마우스가 올라가면 계속 노출 */
  main > aside > .category ol > li > ol:hover {
    display: block;
  }
  
  
  /* 베스트 배너 */
  main > aside > .best {
    width: 215px;
    height: auto;
    margin-top: 6px;
    border: 1px solid #dbdbdb;  
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(55, 55, 5, 0.2);
  }
  
  main > aside > .best > h1 {
    font-size: 14px;
    font-weight: bold;
    color: #111;
    margin: 6px;
  }
  main > aside > .best > h1 > i {
    margin-right: 6px;
    font-size: 18px;
  }
  
  main > aside > .best > ol {
    width: 100%;
  }
  main > aside > .best > ol > li {
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  main > aside > .best > ol > li > a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  main > aside > .best > ol > li > a:hover h2 {
    text-decoration: underline;
  }
  main > aside > .best > ol > li > a > .thumb {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  main > aside > .best > ol > li:first-child > a > .thumb {
    position: relative;
    float: none;
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin: 0 auto;
  }
  main > aside > .best > ol > li > a > .thumb > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 18px;
  }
  main > aside > .best > ol > li:first-child > a > .thumb > i {
    width: 35px;
    height: 26px;
  }
  
  main > aside > .best > ol > li > a > .thumb > img {
    width: 100%;
  }
  
  main > aside > .best > ol > li > a > article {
    float: left;
    width: 148px;
    padding-left: 6px;
    box-sizing: border-box;
  }
  
  main > aside > .best > ol > li > a h2 {
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 4px;
    font-weight: bold;
  }
  main > aside > .best > ol > li > a .org_price {
  }
  main > aside > .best > ol > li > a .org_price > del::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .org_price > ins::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .org_price > del {
    font-size: 10px;
    color: #aaa;
  }
  main > aside > .best > ol > li > a .org_price > span {
    color: #eb000a;
    font-size: 10px;
  }
  main > aside > .best > ol > li > a .org_price > span::after {
    content: "↓";
  }
  main > aside > .best > ol > li > a .dis_price {
  }
  main > aside > .best > ol > li > a .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
  }
  main > aside > .best > ol > li > a .dis_price > ins::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .dis_price > span {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url("../images/ico_freeshipping.gif") no-repeat;
  }
  
  /* 메인 첫번째 섹션 */
  main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
  }
  
  main > section > section {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: auto;
  }
  
  
  .productBox > .product {
    display: flex;
    width: 230px;
    height: 330px;
    box-sizing: border-box;
    margin: 0 4.125px 60px 4.125px;
  }
  .product > a {
    display: flex;
    width: 230px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .product > a > .thumb {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .product > a > .thumb > img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
  }
  .product > a:hover > .thumb > img {
    transform: scale(1.2);
  }
  .product > a > h2 {
    width: 210px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: start;
  }
  .product > a > .org_price {
    display: flex;
    padding: 0 10px;
    margin: 4px 0;
    align-self: start;
  }
  .product > a > .dis_price {
    display: flex;
    padding: 0 10px;
    margin: 4px 0;
    align-self: start;
  }
  .product > a > .score_review {
    display: flex;
    padding: 0 10px;
    margin: 4px 0;
    align-self: start;
  }
  .product > a > .org_price > del {
    font-size: 16px;
    color: #909090;
    margin-right: 10px;
  }
  .product > a > .org_price > del:after {
    content: '원';
  }
  .product > a > .org_price > span {
    font-size: 16px;
    font-weight: bold;
    color: red;
  }
  .product > a > .org_price > span:after {
    content: "↓";
  }
  .product > a > .dis_price > ins {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
  }
  .product > a > .dis_price > ins:after {
    content: '원';
  }
  .product > a > .dis_price > span {
    font-size: 12px;
    background-color: #5AB2FF;
    color: white;
    border-radius: 6px;
    padding: 4px 6px;
  }
  .product > a > .score_review > b:nth-child(1) {
    color: #FF9800;
  }
  .product > a > .score_review > b {
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
  }
  .product > a > .score_review > span {
       font-size: 12px;
       background-color: #41B06E;
       color: white;
       border-radius: 6px;
       padding: 4px 6px;
  }
  .product > a > p {
    width: 210px;
    font-size: 14px;
    padding: 0 10px;
    color: #909090;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: start;
  }
  
  
  
  
    /* 슬라이더 영역 */
  main > section > .slider {
    width: 100%;
    height: 425px;
    overflow: hidden;
    position: relative;
  }
  main > section > .slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
  }
  
  main > section > .hit {
  }
  main > section > .recommend {
  }
  main > section > .new {
  }
  main > section > .discount {
  }
  
  /* 푸터영역 */
  footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
  }
  footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
  }
  footer > ul > li:first-child {
    border-left: 1px solid #d7d7d7;
  }
  
  footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  footer p {
    display: flex;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;
  }
  footer p:nth-of-type(2) {
    width: 550px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  footer p > strong {
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* 오른쪽 하단 상단 이동버튼 */
  #top {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: 600px;
    /* display: none; */
    width: 42px;
    height: 42px;
    background-image: url("../images/top.png");
    border: none;
    font-size: 0;
    cursor: pointer;
  }
  
  /* 메인페이지 배너 */
  .totalImageBox {
    display: flex;
    height:100%;
    width:100%;
  }

  .totalImageBox__img {
    display:block; 
    object-fit: cover;  
    object-position: center; 
    width:100%; 
    height:100%
  }

  .totalImageBox > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .totalImageBox > a > img {
  }
  .sliderPrev {
    width: 20px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #909090;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .sliderNext {
    width: 20px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #909090;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .headerOn {
    color: #ef2a23;
  }
  
  .mainSort li:hover a {
    color: #ef2a23;
    font-weight: bold;
  }

  #bannerTop {
    display: none;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e9e9e9;        
    box-sizing: border-box;
  }

  #bannerTop.on {
    display: block;
  }

  #bannerTop > article {
    position: relative;
    width: 1200px;
    height: 100%;        
    margin: 0 auto;
    overflow: hidden;
  }

  #bannerTop > article > .btnClose {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background-image: url('/images/ico_sprite.png');
    background-position: -122px -142px;
    background-color: transparent;
    font-size: 0;
    border: none;
    cursor: pointer;
  }