<script src="https://kit.fontawesome.com/63c07008cd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/reset.css">
 <link rel="stylesheet" href="/static/css/main.css">
 <main>
 <!-- 카테고리/베스트 상품 영역 -->
 <aside>
    <!-- 카테고리 -->
      <ul class="category">
        <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
        <!--1차 카테고리-->
        <li>
          <a href="#">
            <i class="fas fa-home" ></i>카테고리 이름<i class="fas fa-angle-right"></i>
          </a>
          <!--2차 카테고리-->
          <ol>
            <li>
              <a>
                가구/DIY<i class="fas fa-angle-right"></i>
              </a>
              <!--3차 카테고리-->
              <ol>
                <li>
                  <a href="#">3차</a>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-home" ></i>카테고리 이름<i class="fas fa-angle-right"></i>
          </a>
          <!--2차 카테고리-->
          <ol>
            <li>
              <a>
                가구/DIY2<i class="fas fa-angle-right"></i>
              </a>
              <!--3차 카테고리-->
              <ol>
                <li>
                  <a href="#">3차</a>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ul>

      <!-- 베스트상품 배너 -->
      <article class="best">
        <h1><i id="prodSold" class="fas fa-crown"></i>베스트상품</h1>
        <ol>
          <li>
            <a href="#">
              <div class="thumb">
                <i>1</i>
                <img  src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg"  alt="item1" />
              </div>
              <h2>상품명</h2>
              <div th:if="${soldItem.prodDiscount != 0}" class="org_price">
                <del>12,000</del>
                <span>10%</span>
              </div>
              <div class="dis_price">
                <ins>10,000</ins>
              </div>
            </a>
          </li>
        </ol>
      </article>
    </aside>
    <section>
      <!-- 슬라이더 영역 -->
      <section class="slider" style="width: 976px;">
        <div class="totalImageBox"> <!--이 div에서 배너 반복-->
          <a href="#">
            <img class="totalImageBox__img" src="https://static.coupangcdn.com/ua/cmg_paperboy/image/1727966434214/Untitled-3.jpg" alt="banner1">
          </a>
        </div>
        <span class="sliderPrev">&#10096;</span>
        <span class="sliderNext">&#10097;</span>
      </section>
      <!-- 히트상품 영역 -->
      <h3 style="padding: 10px 20px 10px 20px; margin-bottom: 10px; border-bottom: 1px solid #909090;">
        <span id="prodHit" style="font-size: 20px; font-weight: bold">히트상품</span>
        <a href="#" style="font-size: 16px; color: #909090; float: right">더보기 &#10095;</a>
      </h3>

      <section class="hit productBox">
        <div class="product"">
          <a href="#">
            <div class="thumb">
              <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg" alt="t1" style="width: 230px"/>
            </div>
            <h2>상품명</h2>
            <p>상품정보</p>
            <div class="org_price">
              <del>12000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>10000</ins>
              <span  class="free">무료배송</span>
              <span class="free" style="background-color: transparent; color: #111">배송비 : <span>2000원</span></span>

            </div>
          </a>
        </div>
      </section>
      <!-- 추천상품 영역 -->
      <h3 style="padding: 10px 0 10px 20px; margin-bottom: 10px; border-bottom: 1px solid #909090;">
        <span id="prodScore" style="font-size: 20px; font-weight: bold">추천상품</span>
        <a href="#" style="font-size: 16px; color: #909090; float: right">더보기 &#10095;</a>
      </h3>

      <section class="recommend productBox">
        <div class="product">
          <a th:href="@{'/product/view?prodNo='+${scoreItem.prodNo}+'&cateCode='+${scoreItem.cateCode}}" th:class="${scoreItem.prodStatus}" onclick="checkProdStatus(event)">
            <div class="thumb">
              <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg" alt="t1" style="width: 230px"/>
            </div>
            <h2>상품명</h2>
            <p>상품설명</p>
            <div class="org_price">
              <del>12000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>10000</ins>
              <span class="free">무료배송</span>
              <span class="free" style="background-color: transparent; color: #111">배송비 : <span>2000</span></span>

            </div>
          </a>
        </div>
      </section>
      <!-- 최신상품 영역 -->
      <h3 style="padding: 10px 0 10px 20px; margin-bottom: 10px; border-bottom: 1px solid #909090;">
        <span id="prodRdate" style="font-size: 20px; font-weight: bold">최신상품</span>
        <a th:href="@{/product/list(cateCode='', sort='prodRdate')}" style="font-size: 16px; color: #909090; float: right">더보기 &#10095;</a>
      </h3>

      <section class="new productBox">
        <div class="product">
          <a th:href="@{'/product/view?prodNo='+${scoreItem.prodNo}+'&cateCode='+${scoreItem.cateCode}}" th:class="${scoreItem.prodStatus}" onclick="checkProdStatus(event)">
            <div class="thumb">
              <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg" alt="t1" style="width: 230px"/>
            </div>
            <h2>상품명</h2>
            <p>상품설명</p>
            <div class="org_price">
              <del>12000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>10000</ins>
              <span class="free">무료배송</span>
              <span class="free" style="background-color: transparent; color: #111">배송비 : <span>2000</span></span>

            </div>
          </a>
        </div>
      </section>
      <!-- 할인상품 영역 -->
      <h3 style="padding: 10px 0 10px 20px; margin-bottom: 10px; border-bottom: 1px solid #909090;">
        <span id="prodDiscount" style="font-size: 20px; font-weight: bold">할인상품</span>
        <a th:href="@{/product/list(cateCode='', sort='prodDiscount')}" style="font-size: 16px; color: #909090; float: right">더보기 &#10095;</a>
      </h3>

      <section class="discount productBox">
        <div class="product">
          <a th:href="@{'/product/view?prodNo='+${scoreItem.prodNo}+'&cateCode='+${scoreItem.cateCode}}" th:class="${scoreItem.prodStatus}" onclick="checkProdStatus(event)">
            <div class="thumb">
              <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg" alt="t1" style="width: 230px"/>
            </div>
            <h2>상품명</h2>
            <p>상품설명</p>
            <div class="org_price">
              <del>12000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>10000</ins>
              <span class="free">무료배송</span>
              <span class="free" style="background-color: transparent; color: #111">배송비 : <span>2000</span></span>

            </div>
          </a>
        </div>
      </section>
    </section>
  </main>