<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/cs/cs.css}" />
</head>
<body>
  <!-- header -->
  <header th:replace="~{layout/header::header}"></header>
  <!-- content -->
  <th:block th:switch="${group}">
    <th:block th:case="'notice'">
      <th:block th:with="path='/cs/notice/' + ${cate}, fragment=${cate}">
        <th:replace th:with="path=${path}, fragment=${fragment}"
                    th:replace="~{${path}::${fragment}}"></th:replace>
      </th:block>
    </th:block>
    <th:block th:case="'faq'">
      <th:block th:with="path='/cs/faq/' + ${cate}, fragment=${cate}">
        <th:replace th:with="path=${path}, fragment=${fragment}"
                    th:replace="~{${path}::${fragment}}"></th:replace>
      </th:block>
    </th:block>
    <th:block th:case="'qna'">
      <th:block th:with="path='/cs/qna/' + ${cate}, fragment=${cate}">
        <th:replace th:with="path=${path}, fragment=${fragment}"
                    th:replace="~{${path}::${fragment}}"></th:replace>
      </th:block>
    </th:block>
  </th:block>
  <!-- footer -->
  <footer th:replace="~{layout/footer::footer}"></footer>
</body>
</html>